.tech-subtitle{font-weight: 700; padding-bottom: 12px;}
.tech-ref{padding-top: 16px;}

.captionKey{padding-top: 8px; padding-bottom: 8px; color: #403E3C; font-size: 14px; font-weight: 500;}
.g-item-ex{color: #807F7F;}

ul{list-style-type: none; margin: 0; padding: 0;}

.img-siz{width: 130%;}