{
  "openapi": "3.1.0",
  "info": {
    "title": "FHE16 API",
    "version": "0.2.0-draft",
    "description": "Draft service-facing API shaped from the FHE16Ver6 local FFI surface. The canonical implementation surface is the C ABI in FHE16Ver6/include/soAPI/soAPI.hpp. This file is for documentation and partner review, not a production availability statement."
  },
  "servers": [
    {
      "url": "https://api.walllnut.com/v1",
      "description": "Planned production service"
    },
    {
      "url": "https://sandbox.api.walllnut.com/v1",
      "description": "Planned sandbox service"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/contexts": {
      "post": {
        "summary": "Create FHE16 context",
        "description": "Creates a hosted computation context analogous to initializing the FHE16 runtime and evaluation material.",
        "operationId": "createContext",
        "tags": [
          "Contexts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContextRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Context created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Context"
                }
              }
            }
          }
        }
      }
    },
    "/contexts/{context_id}": {
      "delete": {
        "summary": "Delete FHE16 context",
        "operationId": "deleteContext",
        "tags": [
          "Contexts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContextId"
          }
        ],
        "responses": {
          "204": {
            "description": "Context deleted"
          }
        }
      }
    },
    "/ciphertexts/encrypt": {
      "post": {
        "summary": "Encrypt plaintext input",
        "description": "Encrypts an integer, boolean, or bit-array input. Maps to local FFI functions such as FHE16_ENCInt, FHE16_ENCInt32, FHE16_ENCInt_Arr, and FHE16_ENC_BIT.",
        "operationId": "encryptCiphertext",
        "tags": [
          "Ciphertexts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ciphertext created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ciphertext"
                }
              }
            }
          }
        }
      }
    },
    "/ciphertexts/import": {
      "post": {
        "summary": "Import serialized ciphertext",
        "description": "Imports a serialized ciphertext produced by FHE16_LweToBytes or CT save/load flows.",
        "operationId": "importCiphertext",
        "tags": [
          "Ciphertexts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportCiphertextRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ciphertext imported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ciphertext"
                }
              }
            }
          }
        }
      }
    },
    "/operations": {
      "post": {
        "summary": "Run encrypted operation",
        "description": "Runs one FHE16 operation over ciphertext references. Operation names mirror the FHE16Ver6 C ABI families.",
        "operationId": "runOperation",
        "tags": [
          "Operations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationJob"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "summary": "Get operation job",
        "operationId": "getJob",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationJob"
                }
              }
            }
          }
        }
      }
    },
    "/ciphertexts/{ciphertext_id}/decrypt": {
      "post": {
        "summary": "Decrypt permitted result",
        "description": "Requests local-owner or policy-authorized disclosure of a ciphertext result. Maps to FHE16_DECInt or FHE16_DECIntVec in local runtimes.",
        "operationId": "decryptCiphertext",
        "tags": [
          "Disclosure"
        ],
        "parameters": [
          {
            "name": "ciphertext_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecryptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disclosure result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "ContextId": {
        "name": "context_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CreateContextRequest": {
        "type": "object",
        "properties": {
          "profile": {
            "type": "string",
            "enum": [
              "latency-first",
              "throughput-first",
              "browser-demo"
            ],
            "default": "latency-first"
          },
          "threads": {
            "type": "integer",
            "minimum": 0,
            "description": "0 means runtime auto-detect, matching FHE16_SetThreadCount semantics."
          },
          "key_mode": {
            "type": "string",
            "enum": [
              "generate",
              "load-eval-key",
              "external"
            ],
            "default": "generate"
          }
        },
        "required": [
          "profile"
        ]
      },
      "Context": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string",
            "example": "ctx_123"
          },
          "profile": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "initializing",
              "ready",
              "failed"
            ]
          }
        },
        "required": [
          "context_id",
          "profile",
          "status"
        ]
      },
      "Encoding": {
        "type": "string",
        "enum": [
          "bool",
          "int",
          "bits",
          "uint128",
          "uint256",
          "uint512",
          "int128",
          "int256",
          "int512"
        ]
      },
      "EncryptRequest": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string"
          },
          "encoding": {
            "$ref": "#/components/schemas/Encoding"
          },
          "bit_width": {
            "type": "integer",
            "minimum": 1,
            "example": 16
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "context_id",
          "encoding",
          "bit_width",
          "value"
        ]
      },
      "ImportCiphertextRequest": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string"
          },
          "encoding": {
            "$ref": "#/components/schemas/Encoding"
          },
          "serialized": {
            "type": "string",
            "description": "Base64 ciphertext bytes."
          }
        },
        "required": [
          "context_id",
          "serialized"
        ]
      },
      "Ciphertext": {
        "type": "object",
        "properties": {
          "ciphertext_id": {
            "type": "string",
            "example": "ct_123"
          },
          "context_id": {
            "type": "string"
          },
          "encoding": {
            "$ref": "#/components/schemas/Encoding"
          },
          "bit_width": {
            "type": "integer"
          }
        },
        "required": [
          "ciphertext_id",
          "context_id",
          "encoding"
        ]
      },
      "OperationName": {
        "type": "string",
        "enum": [
          "ADD",
          "ADD3",
          "SUB",
          "SMULL",
          "FMULL",
          "NEG",
          "ABS",
          "RELU",
          "LT",
          "LE",
          "GT",
          "GE",
          "EQ",
          "NEQ",
          "MAX",
          "MIN",
          "AND",
          "OR",
          "XOR",
          "ANDVEC",
          "ORVEC",
          "XORVEC",
          "SELECT",
          "SHL",
          "SHR",
          "DIV_POW2",
          "MOD_POW2",
          "SDIV_POW2",
          "SMOD_POW2",
          "DIV_CONST",
          "MOD_CONST",
          "SDIV_CONST",
          "SMOD_CONST",
          "UDIV",
          "UMOD",
          "SDIV",
          "SMOD",
          "ADD_CONSTANT",
          "SUB_CONSTANT",
          "SMULL_CONSTANT",
          "FMULL_CONSTANT",
          "LT_CONSTANT",
          "LE_CONSTANT",
          "GT_CONSTANT",
          "GE_CONSTANT"
        ]
      },
      "OperationRequest": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string"
          },
          "operation": {
            "$ref": "#/components/schemas/OperationName"
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "constant": {
            "type": "integer",
            "description": "Plaintext constant for *_CONSTANT and *_CONST operations."
          },
          "options": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "context_id",
          "operation",
          "inputs"
        ]
      },
      "OperationJob": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "example": "job_123"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ]
          },
          "result_ciphertext_id": {
            "type": "string",
            "nullable": true
          },
          "remainder_ciphertext_id": {
            "type": "string",
            "nullable": true
          },
          "zero_flag_ciphertext_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "job_id",
          "status"
        ]
      },
      "DecryptRequest": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string"
          },
          "output": {
            "type": "string",
            "enum": [
              "int",
              "bits"
            ],
            "default": "int"
          },
          "policy": {
            "type": "string",
            "example": "owner-only"
          }
        },
        "required": [
          "context_id",
          "policy"
        ]
      },
      "DisclosureResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "disclosed"
          },
          "value": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "status",
          "value"
        ]
      }
    }
  }
}
